services:
  nexeo-sts:
    build: .
    container_name: nexeo-sts
    depends_on:
      - qdrant
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ~/orders:/root/orders
      - ~/menu:/root/menu

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
